<% content_for :title do %>Tora<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="topics" data-view="Topics" data-title="お問い合わせ"></div>
    </li>

  </ul>

</div>
